  <div class="row">
    <form class="col s12" action="/" method="get">
      <div class="row">
        <div class="input-field col s9">
          <input placeholder="search" name="query" type="text" class="validate" value="<%= params[:query] %>">
        </div>
        <div class="input-field col s3">
          <input type="submit" value="search!" class="btn">
        </div>
      </div>
    </form>
  </div>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Location</th>
        <th>Type</th>
        <th>Price</th>
        <th>Space</th>
      </tr>
    </thead>
    <tbody>

		<% @real_estates.each do |e| %>
      <tr>
        <td><%= e.id %></td>
        <td><%= e.name %></td>
        <td><%= e.location %></td>
        <td><%= e.estate_type %></td>
        <td><%= e.price %></td>
        <td><%= e.sq_ft %></td>
      </tr>
		<% end %>

      </tbody>
  </table>
